.item-card{
    background-color: #212529;
}

.item-card:hover{
    background-color: #32445a;
    border: solid 2px #d0a85c;
}

.item-name{
    padding: 5px 2px 0px 2px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}