.champion-card{
    height: auto;
    width: 220px;
    background-color: #212529;
}

.champion-card:hover{
    background-color: #32445a;
    border: solid 2px #d0a85c;
}

.champion-card-img-top{
    object-fit: contain;
}

.champion-name{
    font-size: 22px;
    font-weight: 600;
}

.champion-title{
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    overflow: hidden;
}

.tags{
    padding: 3;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.tag-icon{
    height: 22px;
}